h1 {
    text-align: center;
}
div.drumpad {
    width: 90%;
    height: 0;
    border: 1px solid black;
    margin: auto auto;
    text-align: center;
    cursor: pointer;
    transition: height 0.4s ease-in-out ;
    line-height: 50px;
    border-radius: 5px;
}
div.drumpadContainer {
    width: 60%;
    height: 50px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;    
}
div.drumKitImageContainer {
    margin-top: 10px;
    display: flex;
}
div.drumKitImageContainer img {
    width: 30%;
    margin: auto auto;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
div.random {
    font-family: 'Dancing Script', cursive;
    position: absolute;
    font-size: xx-large;
    color: rgb(218, 57, 57);
}
input.volume {
    outline: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}